.recipe_title, .recipe_title_separation_line {
    margin-bottom: 12px;
}

.recipe_title_separation_line {
    
}

.recipe_title_secion {
 margin-bottom: 32px;
}


.recipe_image_section {
    margin-bottom: 24px;
}


.recipe_img {
    width: 80%;
    height: 500px;
    object-fit: cover;
}
